.big-container{
    display: flex;
    height: 75px;
}

.pink{
    width: 100px;
    background-color: lightpink;
}


.blue{
    width: 200px;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
}

.row1{
    padding-top: 5px;
}

.row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:first baseline; */
    padding-top: 5px;
}

